@font-face {
    font-family: 'avenir-black';
    src: url('/font/avenir-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenir-book';
    src: url('/font/avenir-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}