@use '../abstracts/variables' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

/*HERO*/
.banner{
    background-image: url('/assets/images/pictures/banner.png');
    height:85vh;
}

.produits{
    background-color: #ffebec;
}